*{
    margin: 0px;
    padding: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#navbar{
    background-color: rgb(156, 149, 149);
    
}
.menu{
    display: inline-block;
    margin: 20px;
}
.menu li{
    display: inline-block;
}
.men{
    text-decoration: none;
    color: rgb(7, 7, 7);
    margin: 5px;
}
#wiki{
    text-decoration: underline;
    font-weight: bolder;
}

#middle{
    margin: 20px;
}

.para{
    margin: 5px;
}

#table1, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
#table1{
    width: 80%;
    height: 125px;
    margin-top: 0px;
}

#table2, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
#table2{
    width: 80%;
    height: 10px;
}

#table3, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#table3{
    width: 80%;
    height: 10px;
}